@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}

@font-face {
    font-family: 'Lilita One';
    src: url('/fonts/LilitaOne.ttf');
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('/fonts/LovelaceText.ttf');
}

body {
    background-color: #E3F0AF;
    overflow-x: hidden;
}