@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Lilita One';
    src: url('/fonts/LilitaOne.ttf');
}

@font-face {
    font-family: 'Lovelace Text';
    src: url('/fonts/LovelaceText.ttf');
}