.bubbles1 {
    left: 50%;
    top: -5%;
    scale: 0.8;
    transform: rotate(-45deg);
}

.bubbles2 {
    left: -5%;
    top: 50%;
    scale: 0.6;
    transform: rotate(-90deg);
}

.bubbles3 {
    left: 60%;
    top: 100%;
    scale: 0.4;
    transform: rotate(75deg);
}